<table>
  <th>
    <td>Abflughafen</td>
    <% @origins.each do |o| %>
    <td><%= o %></td>
    <% end %>
  </th>
  <tr>
    <td>Aktueller Preis</td>
    <% @origins.each do |o| %>
    <td><%= @summary[o][:last] %></td>
    <% end %>
  </tr>
  <tr>
    <td>Niedriegster Preis innerhalb der letzten sieben Tage</td>
    <% @origins.each do |o| %>
    <td><%= @summary[o][:oneweek] %></td>
    <% end %>
  </tr>
  <tr>
    <td>Niedriegster Preis bisher</td>
    <% @origins.each do |o| %>
    <td><%= @summary[o][:alltime] %></td>
    <% end %>
  </tr>
</table>
